{% extends 'base.html.twig' %}

{% block body %}

  <h1 style="color:white"> Test</h1>

  <div class="card d-flex justify-content-center foorm">
    {{ form_start(form, {'attr' : {'novalidate': 'novalidate'}}) }}
      {{ form_widget(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}