{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <article>
        <h2>TItre de l'article</h2>
        <div class="metadata"> Ecrit le 01/01/01 à 10:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="" alt="">
            <p> Commodo nulla reprehenderit amet sit elit excepteur do magna mollit cupidatat reprehenderit enim. Est dolore consequat sunt consequat cillum sit mollit non. Nostrud ipsum irure anim nulla proident aliquip officia occaecat voluptate aliqua et.</p>

            <p>Velit consectetur et elit sit tempor voluptate. Anim do dolor officia esse. Cupidatat cillum Lorem pariatur occaecat cillum minim qui est. Ad in voluptate enim magna do. Sunt enim dolor ullamco elit consectetur do nulla incididunt sit eiusmod.</p>

            <p>Elit nulla dolore non voluptate. Nulla aute nulla sit proident veniam amet nulla amet culpa in eu. Ipsum culpa consequat irure nisi ea Lorem laboris sunt.</p>
            <a href="{{ path('blog_show') }}" class="btn btn-parimary"> Lire la suite</a>
        </div>
    </article>    

{% endblock %}
